@import "./Variables.module.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 3rem;
  width: 100vw;
  height: calc(100vh - 60px);
  margin-bottom: -7rem;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 1px;
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.name {
  font-family: $newFont;
  font-size: 2.5rem;
}

.right {
  flex: 2;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.main_img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 45vw;
  max-height: 35vh;
  min-width: 250px;
  min-height: 250px;
  border-radius: 50%;
  cursor: pointer;
  //border styles from border class defined at Variables scss file

}

.img {
  border-radius: 50%;
}


@media screen and (max-width:820px) {

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 100vw;
    height: 100%;
    margin-top: 3rem;
    margin-bottom: 0;
  }

  .right {
    flex: 100%;
    margin-top: 2rem;
  }

  .imgContainer {
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
  }

  .main_img {
    min-width: 45vw;
    min-height: 45vw;
  }
}

@media screen and (max-width:480px) {

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 100vw;
    height: 100%;
    margin-top: 3rem;
    margin-bottom: 0;
  }

  .left {
    flex: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    margin-bottom: 3rem;
  }

  .desc>h1 {
    font-size: 1.5rem;
  }

  .name {
    font-size: 2rem;
  }

  .right {
    flex: 100%;
  }

  .imgContainer {
    flex-direction: column;
    justify-content: center;
  }
}